body{
    margin: 0 auto;
    background: url("images/collage2.jpg") no-repeat center fixed;
    background-size: cover;
}

nav{
    position: fixed;
    z-index: 1;
    display: flex;
    transition: background 100ms;
    width: 100%;
    justify-content: space-evenly;
    background: rgba(29, 17, 40,0.9);
}

nav a{
    font-family: 'Unica One', serif;
    font-weight: 900;
    font-size: 1.5em;
    padding: 20px 40px;
    color: #FFD23F;
}

a:hover{
    background-color: rgba(29, 17, 40,1.0);
}

h2{
    text-align: center;
}

.titleArea{
    padding: 30vh 0 50vh;
}

.titleArea h2{
    font-family: 'Unica One', serif;
    color: #FFD23F;
    background-color: #1D1128;
    padding: 5vh;
    font-size: 4em;
    width: 70%;
    margin: 0 auto;
    transition: width 0.7s;
}

.titleArea h2:hover{
    width: 80%;
}

.quote{
    margin: 20px auto;
    padding: 400px 0;
    opacity: 0.7;
    transition: opacity 0.2s;
    font-family: 'Caveat', cursive;
}

.quote h2{
    font-size: 3em;
}
.quote:hover{
    opacity: 0.9;
}

.quote:nth-child(n){
    background-color: #BFDBF7;
}

.quote:nth-child(2n){
    background-color: #C33C54;
}

/* .quote2{
    
}

/* .quote3{
    background-color: #04724D;
} */

.quote:nth-child(3n){
    background-color: #F4D35E;
}

.quote:nth-child(4n){
    background-color: #04724D;
} */
